body{
    background-image:url(https://allenjiang17.github.io/ChordTransposer/background_board.jpeg);
    font-family: 'Poppins', sans-serif;

}

h1{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

p{
    font-size: 14px;
    font-weight: 400;
    display: inline;
    margin: 0;
    padding: 0;
}

button{
    margin: 0;
    padding: 0.5em;
}

.dashboard{
    margin: 1em auto;
    width: 20%;

}

textarea{
    display: block;
    width: 70%;
    max-width: 700px;
    height: 80%;
    margin: 1em auto;

}

.section_body{
    background-color: rgba(50,50, 50, 0.8);
    width: 75%;
    height: 100%;
    max-width: 1000px;
    padding: 1em;
    margin: 3em auto;
}