body{
    background-image:url(https://allenjiang17.github.io/ChordTransposer/background_board.jpeg);
    font-family: 'Poppins', sans-serif;
    color: white;

}

h1{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.key_label{
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin: 0 1em;
    padding: 0.3em;

}

button{
    margin: 0;
    padding: 0.5em;
    font-size: 18px;
}

.dashboard{
    margin: 1em auto;
    padding: 1px;
    width: 50%;

}

.key_display{
    width:3em;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 1000;
    margin: 0 1em;
    padding: 0.3em;
    background-color: black;

}

textarea{
    display: block;
    width: 70%;
    max-width: 700px;
    height: 80%;
    margin: 1em auto;
    font-family: 'Verdana', sans-serif;


}

.section_body{
    background-color: rgba(50,50, 50, 0.8);
    width: 75%;
    height: 100%;
    max-width: 1000px;
    padding: 1em;
    margin: 3em auto;
}