body{
    height:100vh;
    width:56vh;
    margin: auto;
    /*display:grid;*/
    /*grid-template-rows:75vh 25vh;*/

    font-family:Helvetica;
}


.text_body{
padding:1vh;
}

.input_body{
padding:1vh;
}

.title{
    font-weight: bold;
    font-size: 7vh;
    text-align:center;
}

h1{
    font-size: 4vh;
    text-align:left;
}

.input_box{
    text-align:center;
}
input {
    margin:1vh;
}

button {
    margin:1vh;
    font-size:2vh;
}

.dialog{
    position:fixed;
    top:30%;

    border-radius:4px;
    padding:15px;
    background-color: Silver;

    color:white;
    font-size: 40px;
    font-weight:bold;
    text-align:center;
}

.keyboard_body{

    display:grid;
    justify-content:center;
    grid-template-columns:4.2vh 4.2vh 4.2vh 4.2vh 4.2vh 4.2vh 4.2vh 4.2vh 4.2vh;

}

.key_letter{
    height: 3vh;
    line-height:3vh;
    width: 3vh;

    border-radius:0.5vh;
    padding:0.4vh;
    margin:0.2vh;
    background-color: LightGray;

    color:white;
    font-size:2vh;
    text-align:center;

}

.word_row {
    display:grid;
    justify-content:center;
    grid-template-columns: 11vh 11vh 11vh 11vh 11vh;
    margin-top:0.4vh;
    margin-bottom:0.4vh;

}

.letterbox {
border: 0.25vh solid silver;
padding: 2.5vh;
width: 5vh;
height: 5vh;

font-weight: bold;
color: DimGray;
font-size:5vh;
text-align:center;
}

