body{
    height:100vh;
    width:56vh;
    margin: auto;
    display:grid;
    grid-template-rows:7vh 65vh 8vh 16vh;

    font-family:Helvetica;
}

.title_body{
height:7vh;
display:grid;
grid-template-columns:40vh 16vh;
}

.id_input{
height:3vh;
width:5.5vh;
margin-top:2vh;
margin-left:0.5vh;
}

}
.text_body{
height:65vh;
margin:1vh;
}

.input_body{
height:7vh;
margin:1vh;
}

.title{
    width:40vh;
    font-weight: bold;
    font-size: 7vh;
    text-align:right;
}

.word_input {
    margin:1vh;
    font-size:3.25vh;
    width:50%;
}

button {
    margin:1vh;
    font-size:2vh;
    width:15%;
}

.dialog{
    position:fixed;
    top:30%;

    border-radius:4px;
    padding:15px;
    background-color: Silver;

    color:white;
    font-size: 40px;
    font-weight:bold;
    text-align:center;
}

.keyboard_body{
    margin:1vh;
    height:15vh;
    display:grid;
    justify-content:center;
    grid-template-columns:5.2vh 5.2vh 5.2vh 5.2vh 5.2vh 5.2vh 5.2vh 5.2vh 5vh;

}

.key_letter{
    height: 4vh;
    line-height:4vh;
    width: 4vh;

    border-radius:0.5vh;
    padding:0.4vh;
    margin:0.2vh;
    background-color: LightGray;

    color:white;
    font-size:2vh;
    text-align:center;

}

.word_row {
    display:grid;
    justify-content:center;
    grid-template-columns: 11vh 11vh 11vh 11vh 11vh;
    margin-top:0.4vh;
    margin-bottom:0.4vh;

}

.letterbox {
border: 0.25vh solid silver;
padding: 2.5vh;
width: 5vh;
height: 5vh;

font-weight: bold;
color: DimGray;
font-size:5vh;
text-align:center;
}

